<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
</head>
<body>

    <main class="container-fluid">
        <section class="row">
            
            <%- include('aside.ejs') %>

            <section class="col-10 d-flex flex-column justify-content-between border border-dark">

                <div class="col-12">
                    <div class="row">
                        <nav class="navbar bg-light justify-content-end border-bottom border-dark"><!--border-->
                            <span class="me-3 fw-bold">Hola Usuario</span>
                            
                            <div class="col-1 text-end">
                                <div class="dropdown">
                                    <div class="me-3" data-bs-toggle="dropdown">
                                        <img class="img-fluid" src="/public/Avatar.png" style="width: 50px ;"/>
                                    </div>
        
                                    <ul class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="dropdownMenuButton1" style="width: 200px;">
                                        <li><a class="dropdown-item" href="perfil.html">Perfil</a></li>
                                        <li><a class="dropdown-item" href="cambiar_clave.html">Cambio de clave</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Salir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-9">
                            <div class="row p-3">
                                <div class="card border-0">
                                        <div class="card-body">
                                            <h4 class="card-title">Editar articulo</h4>
                                                <form class="row g-3"  action="/articles/<%=article.id %>?_method=PUT" method="POST">
                                                    <%- include('_form.ejs') %>
                                                </form>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <%- include('asideRight.ejs') %>

                    </div>
                </div>
            </section>
        </section>
    </main>

</body>
</html>